<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Birds</title>
    </head>
    <body>
        <header>
            <nav class="center">
                <ul>
                    <li><a href="/">Home</a></li>|
                    <li><a href="/about-us">About Us</a></li>|
                    <li><a href="/countries">Countries</a></li>|
                    <li><a href="/regions">Regions</a></li>|
                    <li><a href="/birds">Birds</a></li>|
                    <li><a href="/users">Users</a></li>|
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="/admin">Administration</a>
                        <div class="sub-menu">
                            <div class="sub-nav"><a href="/admin/countries">Manage Countries</a></div>
                            <div class="sub-nav"><a href="/admin/regions">Manage Regions</a></div>
                            <div class="sub-nav"><a href="/admin/birds">Manage Birds</a></div>
                            <div class="sub-nav"><a href="/admin/users">Manage Users</a></div>

                        </div>
                    </li>
                </ul>
            </nav>
            <h1><u>Birds</u></h1>

        </header>
        <main>
            <!--main-->
        </main>
        <footer>
            <p>©2022 Copyright WCCI Team 2</p>
        </footer>
    </body>
</html>