<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Bird</title>
</head>

<header>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>|
            <li><a href="/about-us">About Us</a></li>|
            <li><a href="/countries">Countries</a></li>
        </ul>
    </nav>
    <h1 th:text="${birdModel.birdName}"></h1>

</header>

<body>


</body>
<footer>
    <p>©2022 Copyright WCCI Team 2</p>
</footer>
</html>
