<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/aba5373111.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Jac Enterprise</title>
</head>
<body>
<header>
    <!--X----------------Nav Bar----------------------->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="logo">
                <a href="/" class="text-grey">Jac Enterprise</a>
            </div>

            <div>
                <ul class="nav-items">
                    <li class="nav-link"><a href="/">Home</a></li>
                    <li class="nav-link"><a href="/about-us">About Us</a></li>
                    <li class="nav-link" ><a href="/countries">Countries</a></li>
                    <li class="nav-link"><a href="/regions">Regions</a></li>
                    <li class="nav-link"><a href="/birds">Birds</a></li>
                    <li class="nav-link"><a href="/travel">Travel</a></li>
                </ul>
            </div>
            <div class="social text-gray social-top">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </nav>

    <!--X----------------Nav Bar----------------------->
</header>




</body>
<footer>
    <p>©2022 Copyright WCCI Team 2</p>
</footer>
</html>
