<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Bird</title>
</head>

<header>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>|
            <li><a href="/about-us">About Us</a></li>|
            <li><a href="/countries">Countries</a></li>
        </ul>
    </nav>
    <h1 th:text=""></h1>

</header>

<body>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <h6>
                    Jac <strong>Enterprise</strong>
                </h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quaerat inventore,
                    excepturi esse voluptates et quae ut optio quibusdam,
                </p>
                <p>eligendi libero modi nisi aut veniam obcaecati? Dolorem minima quae dolore!</p>
                <p>©2022 Copyright WCCI Team 2</p>
            </div>
            <div class="col-md-1">
                <div class="address">
                    <h6>
                        contact info
                    </h6>
                    <div>

                        <p> <strong>Address</strong><br> bird paradise <br> 120 ca 15th avenue-suite, usa</p>
                    </div>
                    <div>

                        <p>
                            <strong>
                                Phone number
                            </strong><br>+91 999999999</p>
                    </div>
                    <div>

                        <p><strong>Email address</strong> <br> support@birds.com</p>
                    </div>
                </div>

            </div>
            <div class="col-md-1">
                <h6>
                    follow us
                </h6>
                <div class="social-icons">
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
