<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/aba5373111.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Jac Enterprise</title>
</head>
<body>
<main>
<!--X----------------Nav Bar----------------------->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="logo">
                <a href="/" class="text-grey">Jac Enterprise</a>
            </div>

            <div>
                <ul class="nav-items">
                    <li class="nav-link"><a href="/">Home</a></li>
                    <li class="nav-link"><a href="/about-us">About Us</a></li>
                    <li class="nav-link" ><a href="/countries">Countries</a></li>
                    <li class="nav-link"><a href="/regions">Regions</a></li>
                    <li class="nav-link"><a href="/birds">Birds</a></li>
                    <li class="nav-link"><a href="/travel">Travel</a></li>
                </ul>
            </div>
            <div class="social text-gray social-top">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </nav>

<!--X----------------Nav Bar----------------------->


<!------------------- Main Site Section--------------------->

        <section class="site-title">
            <div class="site-background">
                <h3>Tours & Travels</h3>
                <h1>All About Birds</h1>
                <button class="btn">Explore</button>
            </div>
        </section>

        <!--------------Content--------------------->
        <h2 id="explore" style="text-align:center">Explore</h2>
        <div class="box-container">
            <!--1------------->
            <div class="box-1">
                <span><i class="fa-solid fa-plane"></i></span>
                <p class="heading">Travel</p>
                <p class="details">In Asia</p>
                <a href="#">
                    <button>Learn More</button>
                </a>
            </div>
            <!--2------------->
            <div class="box-2">
                <span><i class="fa-solid fa-mountain-city"></i></span>
                <p class="heading">Site Seeing</p>
                <p class="details">In Asia</p>
                <a href="#">
                    <button>Learn More</button>
                </a>
            </div>
            <!--3------------->
            <div class="box-3">
                <span><i class="fas fa-crow"></i></span>
                <p class="heading">Birds</p>
                <p class="details">In Asia</p>
                <a href="/birds">
                    <button>Learn More</button>
                </a>
            </div>
        </div>

        <!-------------Content--------------------->

    <div class="box-container">
        <div class="box-large">
            <h1>What is Bird Watching?</h1>

            <ul>
                <li>Bird watching is in its most basic form is observing any activity wherein
                    birds are envolved in for recreaction or citizen science.</li>
                <li>Many watch for recreation or because of their fascination of the species.</li>
                <li>Others do it for science and record their behavior.</li>
                <li>You can watch birds with the naked eye, some prefer to use binoculars or telescopes.</li>
            </ul>

            <h2>What Can We Do For You?</h2>

            <ul>
                <li>Plan your next bird watching trip with us. We can provide local restaurants and
                    local hotspot destinations near top bird watching sites.</li>
                <li>Book with us today.</li>

            </ul>
        </div>
    </div>

    <div class="box-container-country">
        <!--1------------->
        <div class="box-country"  th:each="country :${countries}">
            <span><i class="fa fa-map-marker"></i></span>
            <p class="heading" th:text="${country.countryName}"></p>
            <p class="details" th:text="${country.region}"></p>
            <p class="details" th:text="${country.habitat}"></p>

            <a th:href=" '/countries/' + ${country.id} " > <button th:text="'Learn More'"></button></a>

        </div>
    </div>


</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <h6>
                    Jac <strong>Enterprise</strong>
                </h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quaerat inventore,
                    excepturi esse voluptates et quae ut optio quibusdam,
                </p>
                <p>eligendi libero modi nisi aut veniam obcaecati? Dolorem minima quae dolore!</p>
                <p>©2022 Copyright WCCI Team 2</p>
            </div>
            <div class="col-md-1">
                <div class="address">
                    <h6>
                        contact info
                    </h6>
                    <div>

                        <p> <strong>Address</strong><br> bird paradise <br> 120 ca 15th avenue-suite, usa</p>
                    </div>
                    <div>

                        <p>
                            <strong>
                                Phone number
                            </strong><br>+91 999999999</p>
                    </div>
                    <div>

                        <p><strong>Email address</strong> <br> support@birds.com</p>
                    </div>
                </div>

            </div>
            <div class="col-md-1">
                <h6>
                    follow us
                </h6>
                <div class="social-icons">
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
